<div class='content landing'>
  {% include "./book.njk" %}
  <div class='hero'>
    <div class='info'>
<h1 style="font-size:1.85em">The V Programming Language 0.3 <span style="background: #4a607e; border-radius: 20px; color: #fff; font-size: 50%; padding: 3px 7px 3px 7px; position: relative; top: -15px;" class="version_beta">beta</span></h1>
<p>Simple, fast, safe, compiled. For developing maintainable software.</p>

  {% include "../icons/github.html" %}
  {% include "./download-button.njk" %}
  {% include "./links.njk" %}
  {% include "./social.njk" %}
  {% include "./follow.njk" %}
  </div>
  {% include "./examples.njk" %}
  </div>
  {% include "./news.njk" %}
  {% include "./sections.njk" %}
  {% include "./built-in-v.njk" %}
  
  <i style="margin-top: 48px; margin-bottom: 8px">Website built by <a href="https://github.com/hex2f">Leah</a>.</i>
  <i>
    <img src="/v-logo.png" style="width:15px;position: relative; top: 3px;">
    logo by <a href="https://github.com/sonovice/">Sonovice</a> and <a href="https://github.com/dhonx">Don</a>.
  </i>
</div>